{% extends 'cards/base.html' %}
{% block content %}

<div>
    <h1 class="display-4">{{card}}</h1>
    {% if card.status == 'active'%}
       <p> <a href="{% url 'deactivate' card.pk %}">деактивировать</a></p>
    {% else %}
        <p><a href="{% url 'activate' card.pk %}">активировать</a></p>
    {% endif %}
        <p><a href="{% url 'delete' card.pk %}">удалить</a></p>
</div>
<p></p>
<div style="font-size: 20px;">
    <p><b>Покупки:</b></p>
    {% for purchase in card.purchase.all %}
        <p>
            {{purchase}}
        </p>
    {% endfor %}
    <p><b>Статус:</b> {{card.status}}</p>
    <p><b>Остаток:</b> {{card.balance}}</p>

</div>
{% endblock %}
